/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

body {
    background: #0c121c;
}

#wrapper {
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    position: absolute;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    padding-top: 10px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    width: 20%;
    margin-bottom: 20px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.pin p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}

@media (max-width: 480px) {
    .pin {
        width: 80%;
    }
}

@media (min-width: 480px) {
    .pin {
        width: 80%;
    }
}

@media (min-width: 660px) {
    .pin {
        width: 40%;
    }
}

@media (min-width: 960px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
    .pin {
        width: 25%;
    }
}

@media (min-width: 1100px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: ;
        column-count: 4;
    }
    .pin {
        width: 20%;
    }
}

img.imageUser {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    padding-bottom: 0px;
}

span.origin-flag {
    top: 7px;
    right: -8px;
    width: 30px;
    height: 28px;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 67% 67%;
    float: right;
    margin-right: -12px;
    margin-top: -10px;
}

span.origin-flag::after {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 8px solid transparent;
    top: 28px;
    right: 0;
}

span.origin-flag.instagram {
    border-left-color: #133958;
    background-image: url('/img/instagram.svg');
    background-color: #25547c;
}

span.origin-flag.twitter {
    background-image: url('/img/twitter.svg');
    background-color: #40cdfd;
}

span.origin-flag.facebook {
    border-left-color: #3a4b7b;
    background-image: url('/img/facebook.svg');
    background-color: #44619d;
}

span.origin-flag.youtube {
    border-left-color: #3a4b7b;
    background-image: url('/img/youtube.png');
    background-color: #d60f2e;
}

.loading {
    display: block;
    position: absolute;
    top: 0;
    height: 100vh;
    background: #0c121c;
    width: 100%;
    overflow: auto;
}

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    -webkit-animation: rotate 2.0s infinite linear;
    animation: rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0px;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
