<div id="wrapper">

    <div infinite-scroll="myPagingFunction()" infinite-scroll-distance="100" infinite-scroll-distance="busy">
        <div masonry='{ "transitionDuration" : "0"}' preserve-order id="prova">
            <div class="masonry-brick pin" ng-repeat="item in items" ng-hide="hidenoresult">
                <div class="">
                    <img class="imageUser" ng-src="{{item.UserShort.image}}" ng-if="item.socials.provider!='facebook'" />
                    <img class="imageUser" ng-src="http://graph.facebook.com/{{item.UserShort.socialID}}/picture" ng-if="item.socials.provider=='facebook'" />
                    <span style="float:right " class="origin-flag {{item.socials.provider}} "></span>
                    <a ng-href="http://facebook.com/profile.php?id={{item.UserShort.socialID}}" target="_blank" ng-if="item.socials.provider=='facebook'" style="text-decoration: none;">
                        <p style="color:#17acdc; float:left;"><b style="color:#17acdc;">{{item.UserShort.name}}</b>
                            <br>
                            <a ng-href="{{item.otherSocialInfo.link}}" target="_blank" ng-if="item.socials.provider=='facebook'" style="text-decoration: none;">
                                <span style="color:#cec8be;" am-time-ago="item.publishedAt "></span>
                            </a>
                        </p>
                    </a>
                    <a ng-href="https://twitter.com/{{item.UserShort.name}} " target="_blank " ng-if="item.socials.provider=='twitter' " style="text-decoration: none;">
                        <p style="color:#17acdc; float:left; width:50% "><b style="color:#17acdc; ">{{item.UserShort.name}}</b>
                            <br>
                            <a ng-href="{{item.otherSocialInfo.entities.media[0].expanded_url}} " target="_blank " ng-if="item.socials.provider=='twitter' " style="text-decoration: none;">
                                <span style="color:#cec8be;  " am-time-ago="item.publishedAt "></span>
                            </a>
                        </p>
                    </a>
                    <a ng-href="https://instagram.com/{{item.UserShort.name}} " target="_blank " ng-if="item.socials.provider=='instagram' " style="text-decoration: none;">
                        <p style="color:#17acdc; float:left; "><b style="color:#17acdc; ">{{item.UserShort.name}}</b>
                            <br>
                            <a ng-href="{{item.otherSocialInfo.link}} " target="_blank " ng-if="item.socials.provider=='instagram' " style="text-decoration: none;">
                                <span style="color:#cec8be; " am-time-ago="item.publishedAt "></span>
                            </a>
                        </p>
                    </a>
                    <a ng-href="https://instagram.com/{{item.UserShort.name}} " target="_blank " ng-if="item.socials.provider=='youtube' " style="text-decoration: none;">
                        <p style="color:#17acdc; float:left; "><b style="color:#17acdc; ">{{item.UserShort.name}}</b>
                            <br>
                            <a ng-href="{{item.otherSocialInfo.link}} " target="_blank " ng-if="item.socials.provider=='youtube' " style="text-decoration: none;">
                                <span style="color:#cec8be; " am-time-ago="item.publishedAt "></span>
                            </a>
                        </p>
                    </a>

                    <hr style="width:100%; ">
                    <a ng-href="{{item.otherSocialInfo.link}} " target="_blank " ng-if="item.otherSocialInfo.link ">
                        <img id="imagebig " style="margin-top: 10px; min-height: 252px; " ng-src="{{item.image}} " ng-if="item.image " />
                    </a>
                    <div ng-if="!item.otherSocialInfo.link ">
                        <a ng-href="{{item.otherSocialInfo.entities.media[0].expanded_url}} " target="_blank ">
                            <img id="imagebig " style="margin-top: 10px; min-height: 252px; " ng-src="{{item.image}} " ng-if="item.image " />
                        </a>
                    </div>
                    <div id="comment{{$index}} " class="width:100%; "></div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading " ng-show="loading ">
        <div class="spinner ">
            <div class="dot1 "></div>
            <div class="dot2 "></div>
        </div>
    </div>
</div>
